
body {
	background: #0ce83f;

}
/*верхнее меню*/
#navbar ul{
	display: none;/*Элемент скрыт со страницы, как если бы его не было в HTML*/
	background-color: #f90;
	position: absolute;
	top: 100%;
}
#navbar li:hover ul {
	display: block;
}
#navbar, #navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navbar {
	height: 30px;
	background-color: #666;
	padding-left: 25px;
	min-width: 470px;
}
#navbar li {/*ко всем частям списка(<li></li>)*/
	float: left;
	position: relative;
	height: 100%;
}
#navbar li a {
	display: block;
	padding: 6px;
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
#navbar ul li { float: none; }

#navbar li:hover { background-color: #f90; }

#navbar ul li:hover { background-color: #666; }
/*таблица*/
table {
	border: 4px solid #000000;
	border-radius: 40px;
	color: #000000;
	background: #4287f5;
	overflow: hidden;/*убрал выступающие за закругления углы рамки!!*/
  margin-top: 500px;/*отступ от верхнего края страницы*/
}
th {

	font-size: 50px;
	border: 2px solid #000000;
}
td {
	font-size: 25px;
	color:#b01020;
	border: 1px solid #000000;
}
td:hover {
  background-color: #bedcfc;
}
